@import 'src/styles/vars';
@import "src/styles/mixins";

.container {
  @include container-lg;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  .image {
    width: 500px;
    border-radius: 15px;
    height: 300px;
  }
  .text {
    font-size: 22px;
  }
  @media screen and (max-width: 770px) {
    row-gap: 30px;
    flex-wrap: wrap;
    .text {
      text-align: center;
    }
  }
  @media screen and (max-width: 500px) {
    .image {
      width: 350px;
      height: 200px;
    }
  }
}